<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chatbot</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
  <div class="chat-center">
    <div class="chat-box">
      <div class="chat-header"> Personal Chat Bot </div>
      <div class="chat-body" id="chatBody"></div>
      <div class="chat-input-row">
        <input type="text" id="chatInput" class="chat-input" placeholder="Type a message...">
        <button id="sendBtn" class="chat-send-btn">Send</button>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>